@import '../../styles/core/index.scss';

.cntWrapper {
  text-align: center;
  padding-top: 34px;
  padding-bottom: 50px;
  @include media('<sm') {
    padding-top: 15px;
  }
}

.infoText {
  color: #717171;
  font-size: 18px;
  margin: 10px 0 49px;
  @include media('<sm') {
    margin: 9px 60px;
    font-size: 14px;
  }
}
